@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Roboto:wght@300;400&display=swap");

:root {
  --primaryFont: "Montserrat", sans-serif;
  --SecondaryFont: "Roboto", sans-serif;
  --backgroundColor: #ffffff;
  --navBarNewsFeedEleColor: #e537b9;
  --subtitleFontColor: rgb(196, 192, 192);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--backgroundColor);
}

.navBarWrapper {
  height: 5.68rem;
  border-bottom: 2px solid rgb(245, 240, 240);
}

.navbar-brand {
  font-family: var(--primaryFont);
  font-weight: 600;
  line-height: 31px !important;
  letter-spacing: 3px;
  height: 24px;
}

.crioNewsFeedNavBaer {
  position: relative;
}
.crioNewsFeedEle {
  height: 9px;
  width: 27px;
  background: linear-gradient(96.34deg, #e537b9 0%, #c040df 100%);
  border-radius: 10px;
}

/* heading Element */
.main {
  padding-top: 2rem;
}

.mainHeading {
  font-family: var(--primaryFont);
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 2px;
}

.mainSubtitle {
  color: var(--subtitleFontColor);
  font-family: var(--SecondaryFont);
  font-weight: 600;
  letter-spacing: 2px;
}

.cardLink {
  text-decoration: none;
  color: black;
}

.cardLink:hover {
  text-decoration: none;
  color: black;
}

.cardHeading {
  font-family: var(--primaryFont);
}

.cardParagraph {
  font-family: var(--SecondaryFont);
}